<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>



<body>

    

    <form method="post" enctype="multipart/form-data" action="summarize">
        {% csrf_token %} 
        <div><label for = "fname">원문:</label></div><input name="textValue" type="text" placeholder="여기에 텍스트 입력"> 
        <br>
        <br>
        <input type="submit" value="Submit">



    </form>
    <br>

    {% if ans %} 
    <h1>This is the summay : 
        {{ans}}
    </h1>
    {% endif %}
    
</body>
</html>