absl-py
aiohttp
aiosignal
asgiref
async-generator
async-timeout
asynctest
attrs
benepar
bert-extractive-summarizer
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
cymem
Cython
Django
django-embed-video
djangorestframework
# en-core-web-sm==3.0.0
filelock
frozenlist
fsspec
future
google-auth
google-auth-oauthlib
grpcio
h11
huggingface-hub
idna
importlib-metadata
install
Jinja2
jmespath
joblib
langcodes
Markdown
MarkupSafe
multidict
murmurhash
nltk
numpy
oauthlib
outcome
packaging

pathy
Pillow
preshed
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pyDeprecate
pyparsing
python-dateutil
pytorch-lightning
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
s3transfer
sacremoses
scikit-learn
scipy
selenium
sentence-transformers
sentencepiece
six
sklearn
smart-open
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
summa
summarizer
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thinc
threadpoolctl
tokenizers
torch
torchmetrics
torchvision
tqdm
transformers
trio
trio-websocket
typer
typing-extensions
urllib3
wasabi
Werkzeug
wsproto
yarl
youtube-transcript-api
zipp
ipywidgets
